.play-button {
    border: none;
    outline: none;
    background: none;
    font-family: 'FFXRNDLT';
    text-align: center;
    font-size: 4em;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.play-button:hover {
    color: #005f73;
}

body {
    font-family: 'FFXRNDLT';
}